html, body {
	height: 100%;
	font-family: 'Raleway', 'Montserrat', Helvetica Neue', Helvetica, sans-serif;
	background: #F5F5F5;
}


button {
	float: left;
	position: relative;
	height: 3rem;
	padding: 0 20px;
	background: transparent;
	outline: none;
	transition: background 0.35s ease, color 0.35s ease, width 0.35s ease, padding 0.35s ease;
}


/* ################### */
/* SPLASH SECTION */
/* ################### */

.button.primary {
	background: #72E586;
	color: #fff;

	border-radius: 2px;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1rem;
	width: 300px;
}

.button.primary:hover {
	background: #68D27A;
	color: #fff;
}

.header-row {
	max-width: 2800px;
}

.header-col {
	position: relative;
	height: 95vh;
	background: url("../images/backpack.jpg") no-repeat center;
	background-size: cover;
}

.logo-top {
	position: absolute;
	margin: 32px;
	width: 120px;
}

.logo-top svg {
	fill: white;
}

.jump {
	position: absolute;
	margin: 28px 32px;
	right: 0;
}

#jump-button {
	width: 200px;
}

#jump-button .text {
	margin-left: 4px;
}

.header {
	margin-top: 10vh;
}

.header-image {
	margin-top: 40vh;
	text-align: center;
}

.header-image img {
	height: 50px;
}

.header-text {
	margin-top: 25vh;
	font-family: "Raleway";
	font-weight: 700;
	color: #fff;
	text-align: center;
	font-size: 40px;
}

.teaser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: 0;
	z-index: 100;
}

.teaser svg {
	transition: all .2s ease-in-out;
}

.teaser svg:hover {
	transform: scale(1.1);
}

/* ################### */
/* INFO SECTION */
/* ################### */

.contents-row {
	background: #F5F5F5;
	max-width: none;
}

.contents-col {
	background: #F5F5F5;
	max-width: 1100px;
}

.card {
	max-width: 420px;
	margin: 0 auto;
	padding: 50px 50px 125px 50px;
	background: white;
}

.card h2 {
	font-family: "Raleway";
	font-weight: 800;
}

.card p {
	font-family: "Raleway";
}

.insane-comfort {
	margin: 0 auto;
	margin-top: 50px;
}

.basketball-image {
	float: left;
	width: 500px;
	margin-top: -80px;
	margin-left: 20px;
}

.uncompromising-performance {
	float: right;
	margin-top: -48px;
	margin-bottom: -48px;
	margin-left: 16px;
}

.incredibly-environmental {
	float: left;
	margin-top: -100px;
}

.landscape-image {
	float: right;
	width: 500px;
	margin-top: 80px;
	margin-right: 32px;
}


.flag-image {
	float: left;
	width: 500px;
	margin-top: 60px;
}



.greatest-feature {
	float: right;
	margin-top: -40px;
	margin-bottom: 50px;
}

#diagonal-column {
	padding: 0;
}

#diagonal {
	width: 100%%;
	display: block;
}


/* ################### */
/* KICKSTARTER SECTION */
/* ################### */

.kickstarter-row {
	background: #fff;
}

.kickstarter-column {
	margin: 50px auto;
	text-align: center;	
}

.kickstarter-column h1 {
	font-family: 'Raleway';
	font-weight: 700;
}

.now-live {
	color: #000;
}

.now-live:hover {
	color: #000;
}

.kickstarter-column h4 {
	font-family: 'Montserrat';
	text-align: center;
	font-size: 20px;
}

.progress-bar-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
}

.progress-bar {
	position: relative;
	margin: 0 auto;
	height: 13px;
	border-radius: 10px;
	width: 100%;
	max-width: 400px;
	background: rgba(0, 0, 0, 0.1);
}

.progress-bar-completed {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	border-radius: 10px;
	background: #00c85b;
	transition: width 500ms linear;
}



.progress-numbers {
	margin: 32px;
	font-family: 'Montserrat';
}

.percent-funded, .amount-pledged, .num-backers {
	font-size: 32px;
	color: #000;
}

.progress-description {
	font-size: 13px;
	color: #656565;
}



.button.primary.large {

}

.logo-bottom {
	width: 106px;
	margin: 24px auto;
}

.logo-bottom svg {
	fill: white;
}

/* ################### */
/* EMAIL SIGNUP SECTION */
/* ################### */


.email-row {
	max-width: none;
	background: #000;
}

.subscribe-wrapper {
	text-align: center;
}

.mailing-list {
	margin-top: 48px;
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.mailing-list:hover {
	cursor: pointer;
}

.thank-you {
	display: none;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin: 24px auto;
}

#thank-you {
	display: inline-block;
}

.subscribe-form {
	display: inline-block;
	margin: 20px auto;
}

.error-message {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway';
	font-size: 12px;
	font-weight: 600;
	color: red;
	text-align: center;	
	white-space: nowrap;
}

.email {
	float: left;
	font-weight: 600;
	padding: 8px 20px;
	height: 3rem;
	width: 250px;
	margin-right: 16px;
	border: none;
	border-radius: 2px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(0, 200, 91, 0.8);
    box-shadow: 0 2px 2px rgba(0, 200, 91, 0.075) inset, 0 0 8px rgba(0, 200, 91, 0.6);
    outline: 0 none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #757575;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #757575;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #757575;
}

#mc-embedded-subscribe {
	float: left;
	height: 3rem;
	background: #00CA6C;

	border-radius: 2px;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1rem;
	width: 150px;
}
#mc-embedded-subscribe:hover {
	cursor: pointer;
	background: #00B360;
}

/* ################### */
/* FOOTER SECTION */
/* ################### */

.footer-row {
	max-width: none;
	background: #000;
	padding-top: 36px;
}

.copywright-column {
	position: relative;
}

.copywright-column p {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	margin-top: 4px;
	text-transform: lowercase;
}

.contact-column {
	font-family: 'Raleway';
	font-weight: 600;
	text-align: center;
}

.contact-column a {
	color: #fff;
}

.inline-list li {
	float: right;
	margin-left: 8px;
	margin-bottom: 8px;
}

.inline-list li a {
	color: #fff;
}


@keyframes fillup {
  to {
    stroke-dasharray: 200 200;
  }
}

@media only screen and (min-width: 64em ) and (max-width: 90em) {
	.contents-col {
		width: 1024px;
	}
}

/* foundation : medium */
@media only screen and (max-width: 61.75em) {

	.insane-comfort, .basketball-image, .uncompromising-performance,
	.flag-image, .incredibly-environmental, .landscape-image, .greatest-feature {
		margin: 0;
		margin-bottom: 16px;
	}

	.basketball-image, .flag-image, .landscape-image {
		width: 100%;
	}

	.card {
		max-width: none;
		width: 100%;
		padding: 50px 50px 70px;
	}

	.insane-comfort {
		margin-top: 24px;
	}

	.greatest-feature {
		margin-bottom: 40px;
	}
}

/* foundation : small */
@media screen and (max-width: 40em) {
	div.logo-top {
		width: 80px;
	}

	div.header-text {
		font-size: 24px;
	}

	a#jump-button.button.primary.medium {
		padding: 5px;
		width: auto;
		background: none;
	}

	.header-image img {
		height: 40px;
	}

	.card p {
		font-size: 14px;
	}

	.mailing-list {
		font-size: 16px;
	}

	.footer-row .medium-4 {
		text-align: center;
	}

	.footer-row .medium-4 ul {
		display: relative;
		margin: 0 auto;
		margin-bottom: 12px;
	}

	.footer-row .medium-4 ul li {
		float: none;
		display: inline;
	}
}


@media screen and (max-width: 27.5em) {
	#jump-button {
		width: 50px;
	}

	#jump-button .text {
		display: none;
	}

	.email, #mc-embedded-subscribe {
		clear: both;
	}
}


