html, body {
	height: 100%;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	background: #999999	;
}

.wider-row {
	max-width: 1600px;
}

.header-col {
	height: 95vh;
	background: url("../images/backpack.jpg") no-repeat center;
	background-size: cover;
}

.logo {
	position: absolute;
	margin: 32px;
}

.logo svg {
	fill: white;
}

.venobox_custom {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: 0;
}

.venobox_custom svg {
	transition: all .2s ease-in-out;
}

.venobox_custom svg:hover {
	transform: scale(1.1);
}

.contents-row {
	background: #F5F5F5;
}

.contents-col {
	background: #F5F5F5;
}
.card {
	max-width: 420px;
	margin: 0 auto;
	padding: 50px 50px 125px 50px;
	background: white;
}

.card h2 {
	font-family: "Raleway";
	font-weight: 800;
}

.comfortable-row .card {
	margin: 0 auto;
	margin-top: 50px;
}

.backpack-image {
	float: left;
	width: 500px;
	margin-top: -80px;
	margin-left: 20px;
}

.sustainable-row .card {
	float: right;
	margin-top: 50px;
}

.community-row .card {
	margin: 0 auto;
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.flag-image {
	margin: 0 auto;
	margin-top: -80px;
	width: 500px;
}

.diagonal-row svg {
	display: block;
	width: 100%;
	height: 90px;
}

.kickstarter-row {
	background: #888888;
}

.kickstarter-column {
	margin: 50px auto;
	text-align: center;	
}

.kickstarter-column h1 {
	font-family: 'Raleway';
	font-weight: 700;
}

.kickstarter-column h4 {
	font-family: 'Raleway';
	text-align: center;
}

.progress-container {
	position: relative;
	margin: 0 auto;
}

.success.progress {
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}

.percent-funded, .amount-pledged, .num-backers {
	font-size: 40px;
	font-family: 'Raleway';
}


.button.primary {
	font-family: 'Raleway';
	font-weight: 600;
	border-radius: 3px;
	width: 300px;
	background: white;
	color: black;
	border: 2px solid black;
	position: relative;
	margin: 50px auto;
}

.button.primary:hover {
	background: black;
	color: white;
}