html, body {
	height: 100%;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	background: #999999	;
}

.button.primary {
	font-family: 'Raleway';
	font-weight: 600;
	border-radius: 3px;
	width: 300px;
	background: white;
	color: black;
	border: 2px solid black;
	position: relative;
	margin: 0 auto;
}

.button.primary:hover {
	background: black;
	color: white;
}

.wider-row {
	max-width: 1600px;
}

.header-col {
	height: 95vh;
	background: url("../images/backpack.jpg") no-repeat center;
	background-size: cover;
}

.logo {
	position: absolute;
	margin: 32px;
}

.logo svg {
	fill: white;
}

.jump {
	position: absolute;
	margin: 32px;
	right: 0;
}

.button.primary.medium {
	width: 150px;
}

.header-text {
	color: #fff;
	text-align: center;
	font-size: 40px;
	margin-top: 25vh;
	font-weight: 800;
}

.teaser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: 0;
}

.teaser svg {
	transition: all .2s ease-in-out;
}

.teaser svg:hover {
	transform: scale(1.1);
}

.contents-row {
	background: #F5F5F5;
}

.contents-col {
	background: #F5F5F5;
}
.card {
	max-width: 420px;
	margin: 0 auto;
	padding: 50px 50px 125px 50px;
	background: white;
}

.card h2 {
	font-family: "Raleway";
	font-weight: 800;
}

.comfortable-row .insane-comfort {
	margin: 0 auto;
	margin-top: 50px;
}

.performance-row .basketball-image {
	float: left;
	width: 500px;
	margin-top: -80px;
	margin-left: 20px;
}

.performance-row .uncompromising-performance {
	float: right;
	margin-top: 50px;
	margin-bottom: -50px;
	margin-right: -20px;
}

.environment-row .incredibly-environmental {
	float: left;
	margin-top: -200px;
}

.flag-image {
	float: right;
	width: 500px;
}

.landscape-image {
	width: 500px;
}


.diagonal-row svg {
	display: block;
	width: 100%;
	height: 50px;
}

.kickstarter-row {
	background: #fff;
}

.kickstarter-column {
	margin: 50px auto;
	text-align: center;	
}

.kickstarter-column h1 {
	font-family: 'Raleway';
	font-weight: 700;
}

.now-live {
	color: #000;
}

.now-live:hover {
	color: #000;
}

.kickstarter-column h4 {
	font-family: 'Raleway';
	text-align: center;
	font-size: 20px;
}

.progress-container {
	position: relative;
	margin: 0 auto;
}

.success.progress {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
}

.menu.simple {
	margin: 32px;
}

.percent-funded, .amount-pledged, .num-backers {
	font-size: 40px;
	font-family: 'Raleway';
}

.button.primary.large {

}


.email-row {
	background: #000;
}

.mailing-list-cta {
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.subscribe-container {
	margin: 30px auto 50px auto;
}

form label {
	color: #fff;
}

.subscribe-container input {
	font-weight: 600;
	padding: 8px 20px;
	height: 3rem;
	width: 250px;
	margin-right: 16px;
	border: none;
	border-radius: 2px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #757575;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #757575;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #757575;
}

button {
	position: relative;
	height: 3rem;
	padding: 0 20px;
	background: transparent;
	outline: none;
	transition: background 0.35s ease, color 0.35s ease, width 0.35s ease, padding 0.35s ease;
}

#mc-embedded-subscribe {
	height: 3rem;
	background: #00c85b;
	border: solid 2px #00c85b;

	border-radius: 2px;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1rem;
	width: 150px;
}
#mc-embedded-subscribe:hover {
	cursor: pointer;
}

#mc-embedded-subscribe.clicked {
  padding: 0;
  width: 50px;
  background: #FFF;
  border-width: 4px;
  border-radius: 100px;
  border-color: #CCC;
  background: conic-gradient(#655 40%, yellowgreen 0);
}
#mc-embedded-subscribe.clicked span.text {
  display: none;
}
#mc-embedded-subscribe.clicked .spinner {
  display: block;
}
#mc-embedded-subscribe.clicked .spinner circle {
  animation: fillup 1s cubic-bezier(1, 0.04, 0.41, 0.76) 0.35s;
  animation-fill-mode: forwards;
}

#mc-embedded-subscribe .spinner {
  position: absolute;
  top: -4px;
  left: -4px;
  display: none;
}
#mc-embedded-subscribe .spinner svg {
  transform: rotate(-90deg);
}
#mc-embedded-subscribe .spinner circle {
  fill: transparent;
  stroke: #00c85b;
  stroke-width: 4;
  stroke-dasharray: 0 200;
}
#mc-embedded-subscribe .icon {
  font-size: 0;
  color: #FFF;
  transition: all 0.35s ease;
}


#mc-embedded-subscribe.submitted {
  background-color: #00c85b;
  width: 150px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #00c85b;
}
#mc-embedded-subscribe.submitted .spinner {
  display: none;
}
#mc-embedded-subscribe.submitted .icon {
  font-size: 25px;
}

@keyframes fillup {
  to {
    stroke-dasharray: 200 200;
  }
}



@media (max-width: 600px) {
	

}
